@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Inter:wght@200;300;400;600;700;800;900&family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #222;
}

#loading_sec {
  position: fixed;
  top: 0;
  left: 0;
  background: #1d1d1d;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  z-index: 9999;
}
#loading_sec .loading span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  animation: 1s linear;
}
#loading_sec .loading span:nth-child(1) {
  background: #ec5717;
  animation-delay: 0s;
}
#loading_sec .loading span:nth-child(2) {
  background: #0acdce;
  animation-delay: 0.2s;
}
#loading_sec .loading span:nth-child(3) {
  background: rgb(47, 86, 205);
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    display: none;
  }
}
#container {
  width: 100%;
  font-family: inter;
}

main.invisible {
  display: none;
}

header {
  width: 100%;
  padding: 0 150px;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Crimson Text", serif;
  position: fixed;
  background: transparent;
  z-index: 99;
  transition: 0.3s;
}
header .logo {
  width: 60px;
  height: 37px;
}
header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
header nav .gnb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
}
header nav .gnb li {
  width: 150px;
  text-align: center;
}
header nav .gnb li a {
  font-size: 24px;
  color: #fff;
  transition: 0.3s;
}
header nav .gnb li a:hover {
  color: #0acdce;
}
header .toggle {
  display: none;
}

header.bgChange {
  background: rgba(10, 10, 10, 0.4);
}

#home {
  width: 100%;
  height: 100vh;
  font-family: "Lemon", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 120px;
  background: #1d1d1d;
  color: #fff;
}
#home h1 {
  font-size: 140px;
  letter-spacing: 0.9rem;
  animation: moving 2s linear alternate infinite;
}
#home h1 b {
  font-size: 110px;
}

@keyframes moving {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
#about {
  width: 100%;
  padding: 150px;
}
#about .about_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  background: #222;
  color: #fff;
}
#about .about_box .photo {
  text-align: left;
  width: 400px;
  height: 500px;
  background: #eee;
  border-radius: 20px;
}
#about .about_box .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
}
#about .about_box .desc {
  flex: 1;
}
#about .about_box .desc > h1 {
  margin-bottom: 20px;
  font-size: 30px;
}
#about .about_box .desc > h1 > b {
  color: #0acdce;
}
#about .about_box .desc p {
  font-size: 24px;
  margin-bottom: 10px;
}
#about .about_box .desc p:last-of-type {
  margin-top: 30px;
}
#about .about_box .desc p > b {
  color: #0acdce;
}

#stack {
  padding: 120px 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: #1d1d1d;
  color: #fff;
}
#stack .title {
  width: 40%;
}
#stack .title h1 {
  display: inline-block;
  font-size: 50px;
  font-weight: 800;
  position: relative;
}
#stack .title h1::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ec5717;
  position: absolute;
  right: -15px;
  bottom: 5px;
}
#stack .skill_sec {
  width: 60%;
  padding-left: 50px;
}
#stack .skill_sec .skill_list {
  width: 100%;
  margin-bottom: 50px;
}
#stack .skill_sec .skill_list > h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
#stack .skill_sec .skill_list > h1 span {
  font-size: 18px;
  font-weight: 400;
  margin-left: 5px;
}
#stack .skill_sec .skill_list ul li {
  margin-bottom: 5px;
  font-size: 18px;
  position: relative;
  margin-left: 15px;
}
#stack .skill_sec .skill_list ul li::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #ec5717;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
#stack .skill_sec .skill_list ul li:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
#stack .skill_sec .skill_list ul li:last-child::before {
  display: none;
}
#stack .skill_sec .skill_list ul li img {
  height: 34px;
}

#project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background: #222;
  color: #fff;
  padding: 120px 150px;
}
#project h1 {
  font-size: 50px;
  position: relative;
}
#project h1::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ec5717;
  position: absolute;
  right: -15px;
  bottom: 5px;
}
#project .slideCountainer {
  width: 100%;
  height: 53vh;
  min-height: 470px;
  position: relative;
  overflow: hidden;
  padding-top: 40px;
}
#project .slideCountainer .slider_projects {
  width: 200%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 10%;
  left: 0;
}
#project .slideCountainer .slider_projects .slide_project {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
#project .slideCountainer .slider_projects .slide_project .project_photo {
  flex: 1.1;
  text-align: right;
}
#project .slideCountainer .slider_projects .slide_project .project_photo img {
  width: 600px;
  border-radius: 10px;
}
#project .slideCountainer .slider_projects .slide_project .project_desc {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
#project .slideCountainer .slider_projects .slide_project .project_desc .project_title h3 {
  font-size: 40px;
  margin-bottom: 14px;
}
#project .slideCountainer .slider_projects .slide_project .project_desc .project_title p {
  font-size: 20px;
  color: #ddd;
  margin-bottom: 30px;
}
#project .slideCountainer .slider_projects .slide_project .project_desc .project_title .badge {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#project .slideCountainer .slider_projects .slide_project .project_desc .project_title .badge > span {
  border: 2px solid #274d4c;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  color: #0acdce;
}
#project .slideCountainer .slider_projects .slide_project .project_desc button {
  width: 200px;
  font-size: 18px;
  border: none;
  background: #274d4c;
  color: #0acdce;
  border-radius: 30px;
  padding: 16px 50px;
}
#project .slideCountainer .slider_projects .slide_project .project_desc a {
  display: none;
}
#project .slideCountainer .slider_projects .slide_project .project_info_sec {
  display: none;
}
#project .slideCountainer .slider_projects.animated {
  transition: 0.3s ease-in;
}
#project .slideCountainer .pager {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 0;
}
#project .slideCountainer .pager span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 4px;
  transition: 0.3s;
}
#project .slideCountainer .pager span.active {
  width: 12px;
  height: 12px;
  background: #0acdce;
  box-shadow: 0 0 10px rgba(10, 205, 206, 0.5);
}
#project #prev,
#project #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#project #prev {
  left: 30px;
}
#project #next {
  right: 30px;
}
#project #prev.disabled,
#project #next.disabled {
  display: none;
}

aside.on {
  opacity: 1; /* Click에 따라서 값이 바뀜 => 0 */
  transform: scale(1);
}

aside {
  width: 100%;
  background: #222;
  position: absolute;
  top: 0;
  left: 0; /* Click에 따라서 값이 바뀜 => -100% */
  opacity: 0; /* Click에 따라서 값이 바뀜 => 0 */
  z-index: 2;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
  transition: 0.6s;
}
aside .aside_inner {
  width: 800px;
}
aside .top_sec {
  margin-bottom: 30px;
}
aside .top_sec h3 {
  font-size: 40px;
  margin-bottom: 14px;
  color: #ddd;
}
aside .top_sec p {
  font-size: 20px;
  color: #ddd;
  margin-bottom: 30px;
}
aside .top_sec .modal_badge {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
aside .top_sec .modal_badge > span {
  border: 2px solid #274d4c;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  color: #0acdce;
}
aside button {
  display: block;
  margin: 0 auto;
  width: 28%;
  font-size: 18px;
  border: none;
  background: #274d4c;
  border-radius: 30px;
  padding: 16px 50px;
  margin-bottom: 40px;
}
aside button a {
  color: #0acdce;
}
aside .detail_img {
  width: 100%;
  margin-bottom: 50px;
}
aside .detail_img img {
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
aside .info_sec .overview {
  margin-bottom: 50px;
}
aside .info_sec .overview h3 {
  font-size: 28px;
  color: #ddd;
  margin-bottom: 10px;
}
aside .info_sec .overview p {
  font-size: 16px;
  color: #ccc;
  line-height: 1.5;
}
aside .info_sec .work_info h3 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #ddd;
}
aside .info_sec .work_info p {
  font-size: 16px;
  color: #ccc;
  line-height: 3;
}
aside .info_sec .work_info p span {
  color: #0acdce;
  margin-right: 30px;
}
aside .close {
  font-size: 18px;
  border: none;
  background: #274d4c;
  color: #0acdce;
  border-radius: 30px;
  padding: 16px 30px;
  margin-top: 50px;
}

#work {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 150px;
}
#work .tab_inner {
  width: 100%;
  height: 100%;
}
#work .tab_inner .btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#work .tab_inner .btn li {
  color: #fff;
  padding: 10px 25px;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  border-top: 2px solid transparent;
  opacity: 0.7;
  transition: 0.3s;
}
#work .tab_inner .btn li:hover, #work .tab_inner .btn li.active {
  border-top: 2px solid #c84b31;
  color: #c84b31;
}
#work .tab_inner .tabs {
  width: 100%;
  height: 650px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #999999;
}
#work .tab_inner .tabs > div {
  display: none;
}
#work .tab_inner .tabs > div.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
#work .tab_inner .tabs > div > .tab_content {
  width: 300px;
}
#work .tab_inner .tabs > div > .tab_content a {
  width: 100%;
  height: 150px;
  display: inline-block;
  margin-bottom: 20px;
}
#work .tab_inner .tabs > div > .tab_content img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 5px;
  transition: 0.3s;
}
#work .tab_inner .tabs > div > .tab_content img:hover {
  transform: scale(1.1);
}
#work .tab_inner .tabs > div > .tab_content h2 {
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}
#work .tab_inner .tabs > div > .tab_content p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

@keyframes updownMoving {}
#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #1d1d1d;
  color: #fff;
}
#contact .contact_main {
  text-align: center;
}
#contact .contact_main span {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
}
#contact .contact_main h1 {
  font-size: 48px;
  margin-bottom: 27px;
}
#contact .contact_main h1 a {
  color: #fff;
  transition: 0.3s;
}
#contact .contact_main h1 a:hover {
  color: #0acdce;
}
#contact .contact_main p {
  font-size: 18px;
}
#contact .contact_main .sns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#contact .contact_main .sns li {
  padding: 30px 0;
  transition: 0.3s;
}
#contact .contact_main .sns li a {
  color: #0acdce;
}
#contact .contact_main .sns li a i {
  font-size: 30px;
}
#contact .contact_main .sns li:hover {
  transform: scale(1.3);
}
#contact .copyright {
  font-size: 12px;
  position: absolute;
  bottom: 5%;
  color: #aaa;
}

#goToTop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  transition: 0.5s;
}
#goToTop a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#goToTop a img {
  width: 50px;
  animation: moving 1s infinite alternate-reverse;
}
#goToTop a img:nth-child(1) {
  animation-delay: 0.3s;
}
#goToTop a img:nth-child(2) {
  margin-top: -8px;
  animation-delay: 0.35s;
}
#goToTop a img:nth-child(3) {
  margin-top: -8px;
  animation-delay: 0.4s;
}
#goToTop.visible {
  display: block;
}

@keyframes moving {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  header {
    width: 100%;
    padding: 0 80px;
    z-index: 99;
  }
  header nav ul.gnb {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(34, 34, 34, 0.9);
  }
  header nav ul.gnb > li {
    margin: 15px;
  }
  header nav ul.gnb > li a {
    color: #fff;
    font-size: 40px;
    transition: 0.3s;
  }
  header nav ul.gnb > li a.active {
    color: #26d2d3;
  }
  header nav ul.gnb.show {
    display: flex;
  }
  div.toggle {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    transition: all 0.3s;
  }
  div.toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    transition: all 0.3s;
  }
  div.toggle span:nth-child(2) {
    top: 50%;
  }
  div.toggle span:nth-child(3) {
    top: 100%;
  }
  div.toggle.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  div.toggle.active span:nth-child(2) {
    opacity: 0;
  }
  div.toggle.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
  #home {
    width: 100%;
    padding: 0 50px;
  }
  #home h1 {
    font-size: 90px;
  }
  #home h1 b {
    font-size: 60px;
  }
  #about {
    width: 100%;
    padding: 150px 80px;
  }
  #about .about_box .photo {
    width: 300px;
    height: 400px;
  }
  #about .about_box .desc {
    width: 100%;
  }
  #about .about_box .desc > h1 {
    font-size: 26px;
  }
  #about .about_box .desc p {
    font-size: 20px;
  }
  #stack {
    padding: 80px;
  }
  #stack .title {
    min-width: 250px;
  }
  #stack .title h1 {
    font-size: 40px;
  }
  #stack .title h1::before {
    width: 8px;
    height: 8px;
  }
  #stack .skill_sec {
    width: 100%;
  }
  #stack .skill_sec .skill_list h1 {
    font-size: 28px;
  }
  #stack .skill_sec .skill_list span {
    font-size: 16px;
  }
  #project {
    width: 100%;
    padding: 120px 80px;
  }
  #project h1 {
    font-size: 40px;
    margin: 0;
  }
  #project .slideCountainer {
    padding: 0;
    width: 100%;
  }
  #project .slideCountainer .slider_projects {
    top: 10%;
  }
  #project .slideCountainer .slider_projects .slide_project {
    padding: 30px 0;
  }
  #project .slideCountainer .slider_projects .slide_project .project_photo {
    flex: 1;
    padding-left: 0;
  }
  #project .slideCountainer .slider_projects .slide_project .project_photo img {
    width: 100%;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc {
    gap: 60px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc .project_title h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc .project_title p {
    margin-bottom: 15px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc .project_title .badge {
    flex-wrap: wrap;
  }
  #project .slideCountainer .slider_projects .slide_project button {
    width: 100px;
    padding: 16px 20px;
    font-size: 16px;
  }
  #project .slideCountainer .pager {
    bottom: 15%;
  }
  #project #prev,
  #project #next {
    position: absolute;
    top: 40%;
  }
  #project #prev {
    left: 0px;
  }
  #project #next {
    right: 0;
  }
  #work {
    padding: 0px 80px;
  }
  #work .tab_inner {
    width: 100%;
    height: 100%;
  }
  #work .tab_inner .btn li {
    color: #fff;
    padding: 10px 25px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
  }
  #work .tab_inner .tabs {
    border-radius: 10px;
    height: 850px;
  }
  #work .tab_inner .tabs > div {
    display: none;
  }
  #work .tab_inner .tabs > div.active {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
  }
  #work .tab_inner .tabs > div > .tab_content {
    width: 240px;
  }
  #work .tab_inner .tabs > div > .tab_content a {
    width: 100%;
    height: 200px;
    display: inline-block;
    margin-bottom: 20px;
  }
  #work .tab_inner .tabs > div > .tab_content img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #work .tab_inner .tabs > div > .tab_content h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
  }
  #work .tab_inner .tabs > div > .tab_content p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 100%;
    padding: 0 50px;
    z-index: 99;
  }
  header nav ul.gnb {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(34, 34, 34, 0.9);
  }
  header nav ul.gnb > li {
    margin: 15px;
  }
  header nav ul.gnb > li a {
    color: #fff;
    font-size: 40px;
    transition: 0.3s;
  }
  header nav ul.gnb > li a.active {
    color: #26d2d3;
  }
  header nav ul.gnb.show {
    display: flex;
  }
  div.toggle {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    transition: all 0.3s;
  }
  div.toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    transition: all 0.3s;
  }
  div.toggle span:nth-child(2) {
    top: 50%;
  }
  div.toggle span:nth-child(3) {
    top: 100%;
  }
  div.toggle.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  div.toggle.active span:nth-child(2) {
    opacity: 0;
  }
  div.toggle.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
  #home {
    width: 100%;
    padding: 0 50px;
  }
  #home h1 {
    font-size: 90px;
  }
  #home h1 b {
    font-size: 60px;
  }
  #about {
    padding: 50px;
    background: #222;
  }
  #about .about_inner .about_box {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  #about .about_inner .about_box .photo {
    width: 400px;
    height: 500px;
  }
  #about .about_inner .about_box .photo img {
    width: 100%;
    height: 100%;
  }
  #about .about_inner .about_box .desc > h1 {
    font-size: 24px;
  }
  #about .about_inner .about_box .desc p {
    font-size: 18px;
  }
  #stack {
    width: 100%;
    padding: 0 50px;
    padding-top: 40px;
    flex-direction: column;
    justify-content: flex-start;
  }
  #stack .title {
    width: 100%;
    margin-bottom: 30px;
  }
  #stack .title > h1 {
    font-size: 32px;
  }
  #stack .title > h1::before {
    content: "";
    width: 8px;
    height: 8px;
  }
  #stack .skill_sec {
    width: 100%;
    padding-left: 0;
  }
  #stack .skill_sec .skill_list {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 25px;
    margin-bottom: 20px;
  }
  #stack .skill_sec .skill_list > h1 {
    font-size: 30px;
  }
  #stack .skill_sec .skill_list > h1 span {
    font-size: 18px;
  }
  #stack .skill_sec .skill_list ul li {
    font-size: 15px;
    word-break: keep-all;
    margin-left: 15px;
  }
  #stack .skill_sec .skill_list ul li img {
    height: 34px;
  }
  #project {
    width: 100%;
    overflow-x: scroll;
    padding: 50px;
    padding-top: 70px;
  }
  #project h1 {
    font-size: 32px;
    padding-left: 0px;
  }
  #project .slideCountainer {
    width: 100%;
    height: 100vh;
  }
  #project .slideCountainer .slider_projects {
    width: 200%;
    overflow-x: scroll;
    top: 3%;
  }
  #project .slideCountainer .slider_projects .slide_project {
    width: 100%;
    flex-direction: column;
    gap: 50px;
    margin-top: 0px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_photo img {
    width: 100%;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc {
    gap: 50px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc .project_title h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc .project_title p {
    font-size: 17px;
    margin-bottom: 20px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc .project_title .badge > span {
    font-size: 14px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc button {
    width: 100%;
    padding: 15px;
  }
  #project .slideCountainer .pager {
    bottom: 0%;
  }
  #project .slideCountainer #prev,
  #project .slideCountainer #next {
    top: 25%;
  }
  #work {
    padding: 0px 20px;
  }
  #work .tab_inner {
    width: 100%;
    height: 100%;
  }
  #work .tab_inner .btn {
    width: 100%;
    margin-bottom: 10px;
  }
  #work .tab_inner .btn li {
    color: #fff;
    padding: 7px 15px;
    font-weight: 800;
    font-size: 17px;
    cursor: pointer;
    position: relative;
  }
  #work .tab_inner .tabs {
    width: 100%;
    padding: 20px;
  }
  #work .tab_inner .tabs > div {
    display: none;
  }
  #work .tab_inner .tabs > div > .tab_content {
    width: 180px;
  }
  #work .tab_inner .tabs > div > .tab_content a {
    width: 100%;
    height: 120px;
    display: inline-block;
    margin-bottom: 20px;
  }
  #work .tab_inner .tabs > div > .tab_content img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #work .tab_inner .tabs > div > .tab_content h2 {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
  }
  #work .tab_inner .tabs > div > .tab_content p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }
  #goToTop {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #container {
    width: 100%;
  }
  #container section {
    width: 100%;
  }
  header {
    width: 100%;
    padding: 0 20px;
    z-index: 99;
  }
  header nav ul.gnb {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(34, 34, 34, 0.9);
  }
  header nav ul.gnb > li {
    margin: 15px;
  }
  header nav ul.gnb > li a {
    color: #fff;
    font-size: 40px;
    transition: 0.3s;
  }
  header nav ul.gnb > li a.active {
    color: #26d2d3;
  }
  header nav ul.gnb.show {
    display: flex;
  }
  div.toggle {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    transition: all 0.3s;
  }
  div.toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    transition: all 0.3s;
  }
  div.toggle span:nth-child(2) {
    top: 50%;
  }
  div.toggle span:nth-child(3) {
    top: 100%;
  }
  div.toggle.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  div.toggle.active span:nth-child(2) {
    opacity: 0;
  }
  div.toggle.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
  #home h1 {
    font-size: 50px;
    letter-spacing: 0.3rem;
  }
  #home h1 b {
    font-size: 32px;
  }
  #about {
    padding: 20px;
    background: #222;
  }
  #about .about_inner .about_box {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  #about .about_inner .about_box .photo {
    width: 70%;
    height: 400px;
  }
  #about .about_inner .about_box .photo img {
    width: 100%;
    height: 100%;
  }
  #about .about_inner .about_box .desc > h1 {
    font-size: 24px;
  }
  #about .about_inner .about_box .desc p {
    font-size: 18px;
  }
  #stack {
    width: 100%;
    padding: 25px;
    padding-top: 40px;
    flex-direction: column;
    justify-content: flex-start;
  }
  #stack .title {
    width: 100%;
    margin-bottom: 30px;
  }
  #stack .title > h1 {
    font-size: 32px;
  }
  #stack .title > h1::before {
    content: "";
    width: 8px;
    height: 8px;
  }
  #stack .skill_sec {
    width: 100%;
    padding-left: 0px;
  }
  #stack .skill_sec .skill_list {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 25px;
    margin-bottom: 20px;
  }
  #stack .skill_sec .skill_list > h1 {
    font-size: 30px;
  }
  #stack .skill_sec .skill_list > h1 span {
    font-size: 18px;
  }
  #stack .skill_sec .skill_list ul li {
    font-size: 15px;
    word-break: keep-all;
    margin-left: 15px;
  }
  #stack .skill_sec .skill_list ul li img {
    height: 34px;
  }
  #project {
    width: 100%;
    height: 100vh;
    padding: 20px;
    padding-top: 70px;
  }
  #project h1 {
    font-size: 32px;
  }
  #project .slideCountainer {
    width: 100%;
    height: 100vh;
  }
  #project .slideCountainer .slider_projects {
    width: 200%;
    top: 3%;
  }
  #project .slideCountainer .slider_projects .slide_project {
    width: 100%;
    flex-direction: column;
    gap: 50px;
    margin-top: 0px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_photo img {
    width: 100%;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc {
    gap: 30px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc .project_title h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc .project_title p {
    font-size: 17px;
    margin-bottom: 20px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc .project_title .badge {
    flex-wrap: wrap;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc .project_title .badge > span {
    font-size: 14px;
  }
  #project .slideCountainer .slider_projects .slide_project .project_desc button {
    width: 100%;
    padding: 15px;
  }
  #project .slideCountainer .pager {
    margin-top: 0;
    bottom: 2%;
  }
  #project #prev,
  #project #next {
    top: 35%;
  }
  #project #prev {
    left: -27px;
  }
  #project #next {
    right: -27px;
  }
  aside {
    width: 100%;
    padding: 50px 20px;
  }
  aside .aside_inner {
    width: 100%;
    padding: 0;
    padding-top: 50px;
  }
  aside .aside_inner .top_sec .modal_badge {
    flex-wrap: wrap;
  }
  aside .aside_inner .aLink {
    width: 63%;
  }
  aside button {
    width: 50%;
  }
  #work {
    padding: 0px 20px;
  }
  #work .tab_inner {
    width: 100%;
    height: 100%;
  }
  #work .tab_inner .btn {
    width: 100%;
    margin-bottom: 10px;
  }
  #work .tab_inner .btn li {
    color: #fff;
    padding: 7px 15px;
    font-weight: 800;
    font-size: 17px;
    cursor: pointer;
    position: relative;
  }
  #work .tab_inner .tabs {
    width: 100%;
    padding: 20px;
    height: 950px;
  }
  #work .tab_inner .tabs > div {
    display: none;
  }
  #work .tab_inner .tabs > div > .tab_content {
    width: 180px;
  }
  #work .tab_inner .tabs > div > .tab_content a {
    width: 100%;
    height: 120px;
    display: inline-block;
    margin-bottom: 20px;
  }
  #work .tab_inner .tabs > div > .tab_content img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #work .tab_inner .tabs > div > .tab_content h2 {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
  }
  #work .tab_inner .tabs > div > .tab_content p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }
  #contact {
    width: 100%;
    height: 100vh;
  }
  #contact .contact_main span {
    font-size: 17px;
  }
  #contact .contact_main h1 {
    font-size: 32px;
  }
  #contact .contact_main p {
    font-size: 13px;
  }
  #goToTop {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */